// Here you can add other styles

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  // @extend .form-control;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  width: 100%;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
 // @extend .list-group;
}

.react-autosuggest__suggestion {
 // @extend .list-group-item;
  padding: 0.5rem 0.75rem;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

// POSSIBLY UNUSED
.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
// POSSIBLY UNUSED
.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #dce8ff;
}

// Suggestion item CSS. To be moved
.suggestionItem span:after {
  content: ', ';
}

.suggestionItem span:last-of-type:after {
  content: '';
}