{
  "env": {
    "browser": true
  },
  "plugins": ["react", "import", "jsx-a11y"],
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "max-len": ["error", 120],
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "ignore"
    }]
  }
}
